<h1>Hey <%= @user["name"] %>!</h1>
<p>
	Welcome to Todo App! <br>
	You have successfully signed up. Make your own todo lists, add reminders, set deadlines and many more.
</p>
<p>Thanks for signing up and have a great day!</p>