<%= provide(:title, "About") %>
<h1>About Todo App</h1>
<p>
	<ul class="container">
		<h4>
		<li>Organize your work using this Todo App.</li>
		<li>Get reminders through email notification.</li>
		<li>Never miss anything.</li>
		</h4>
	</ul>
</p>