<%= provide(:title, "About") %>
<div class="container">
	<h1>About Todo App</h1>
	<p>
		<ul>
			<li>Organize your work using this Todo App.</li>
			<li>Get reminders through email notification.</li>
			<li>Never miss anything.</li>
		</ul>
	</p>
</div>