<%= provide(:title, 'Help') %>
<h1>Help</h1>
<p class="container">
	<h4>Getting started:</h4>
	<div class="container">
		Sign up <a href="/signup">here</a>.
	</div>
	<h4>Adding tasks:</h4>
	<div class="container">
		<ol>
			<li>Click <a href="/signup">here</a> or go to Options->Add Task to add tasks.</li>
			<li>You can add title and description, set priority, reminder and deadline to your tasks.</li>
		</ol>
	</div>
	<h4>Editing tasks:</h4>
	<div class="container">
		You can edit your task by clicking on the 'Edit Task' button that appears near your task in the Task list.
	</div>
	<h4>Features:</h4>
	<div class="container">
		<ul>
			<li>You can mark your tasks as done/open.</li>
			<li>You can choose to receive reminders via email.</li>
			<li>You can download or receive via email your task list in CSV and XML formats.</li>
		</ul>
	</div>
</p>