@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

$blueDark: #0D47A1;
$grayMediumLight: #eaeaea;
$gray-light: #777;

html {
	overflow-y: scroll;
}

section {
	overflow: visible;
}

.center {
	text-align: center;
	background-color: #ffffff;
	h1 {
		margin-bottom: 10px;
		color: $blueDark;
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	color: $blueDark;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #64B5F6;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

.btn-primary {
	color: white;
	background-color: $blueDark;
}

.navbar-inverse {
	background-color: $blueDark;
	.nav > li > a {
		color: #c4c4c4;
	}
}

/* header */
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: #64B5F6;
		text-decoration: none;
	}
}

footer {
	margin-top: 45px;
	margin-right: 45px;
	margin-left: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
			a {
				color: $blueDark;
			}
		}
	}
}

.user_forms {
	margin: 0 auto;
	width: 45%;
}

.btn > a {
	color: inherit;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

/* user page first row */
aside {
	section {
		padding: 10px 0;
	}
	h1 {
		text-align: left;
	}
}

 .options_menu {
 	margin-top: 35px;
 	margin-left: 50px;
 }

/* errors display */
#error_explanation {
	color: #F00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .has-error;
}

/* sort rows */
 .btn-default {
 	margin-left: 7px;
 }

 .sort_buttons_group {
 	margin-top: 5px;
 }

 .sort_row {
 	display: inline;
 }

/* tasks */
.tasks {
	list-style: none;
	padding-left: 15px;
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
}

.title {
	font-weight: bold;
}

.priority {
	font-size: 0.8em;
}

.priority_1 {
	color: red;
}

.priority_2 {
	color: #ffe500;
}

.priority_3 {
	color: green;
}

.content {
 	display: block;
 	font-style: italic;
 	text-indent: 20px;
 }

 .deadline, .reminder {
 	color: $blueDark;
 }

 .timestamp {
 	color: $gray-light;
 }
 
 /* forms */
 label, input, textarea {
 	width: 100%;
 	display: inline-block;
 }

 input, select {
	margin-bottom: 15px;
}

/* task forms */
 .right_align {
 	margin-top: 20px;
 	width: 20%;
 }

 span.col-md-4 {
 	margin-right: 20px;
 }

 #task_email_reminder {
 	width: 20px;
 }

 /* delete account */
 .delete_button {
 	background-color: #A50B0B;
 	border-style: none;
 	margin-top: 50px;
 	&:hover{
 		background-color: #A83737;
 	}
 }
